.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(223, 220, 220);
}

.details img {
    width: 100%;
}

.title-question {
    text-align: center;
    font-size: 2rem;
    color: black;
    padding: 20px 0;
}

.info {
    font-size: 0.8rem;
    margin-left: 20px;
}

.back-button {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    margin: 50px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.618);
}